/* Reset default margin and padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Georgia", serif;
    background-color: #f3f3f3;
    color: #333;
}

header {
    background-color: #a8a8a8; /* grey header background */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 28px;
    font-weight: bold;
}

nav {
    background-color: #a8a8a8; /* Grey navigation bar */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5; /* Light grey background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Drop shadow effect */
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.dashboard-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.widget {
    flex: 1;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.widget:hover {
    background-color: #f5f5f5;
}
